[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastbook = "*"
graphviz = "*"
jupyter = "*"
notebook = "*"
jupyter-contrib-nbextensions = {path = "./jupyter_contrib_nbextensions"}
jupyter-nbextensions-configurator = "*"
fastai = "*"
nbconvert = "*"

[dev-packages]

[requires]
python_version = "3.8"
