[Desktop Entry]
Encoding=UTF-8
Name=Link to Deploy Fastai model to AWS Sagemaker with BentoML | Practical Deep Learning for Coders
Type=Link
URL=https://course.fast.ai/deployment_bento
Icon=text-html
