[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - fastai/fastbook: The fastai book, published as Jupyter Notebooks
Type=Link
URL=https://github.com/fastai/fastbook
Icon=text-html
