[Desktop Entry]
Encoding=UTF-8
Name=Link to Practical Deep Learning for Coders - Full Course from fast.ai and Jeremy Howard - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=0oyCUWLL_fU
Icon=text-html
